# MongoDB
MONGO_URI=mongodb://ecomonitor:ecomonitor123@localhost:27017
MONGO_DB_NAME=ecomonitor

# Redis local
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_USERNAME=
REDIS_PASSWORD=ecomonitor123
REDIS_SSL=false
RESET_REDIS_DEMO=true

# Neo4j local ou AuraDB
NEO4J_URI=neo4j://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=ecomonitor123
NEO4J_DATABASE=neo4j
